@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800&display=swap");
@import "flowbite/src/themes/default";
@import "tailwindcss";

@plugin "flowbite/plugin";

:root {
  --background: #0d1117;
  --foreground: #e6edf3;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

.card-primary {
  @apply border border-gray-500 rounded-xl bg-[#13161b] p-5;
}

.card-secondary {
  @apply border border-gray-500 rounded-sm bg-[#1c2128] p-3;
}

.input-primary {
  @apply border border-cyan-800 rounded-xl bg-[#13161b] p-3 focus:bg-[#1c2128] transition-colors duration-200;
}

.card-secondary {
  @apply border-1 border-gray-500 rounded-sm bg-[#1c2128] p-3;
}
